div {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

section {
  width: 700px;
  margin: 30px auto 0;
}

section.game {
  height: 500px;
  background-image: url(img/background.png);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

nav.menu {
  text-align: center;
  flex-basis: 250px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}

button.menu__button {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  background-color: white;
  box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.51);
  -webkit-box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.51);
  -moz-box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.51);
}

button.menu__button:hover {
  color: #dd2323;
}

button.menu__button > i.fa-play {
  margin-left: 3px;
}

button.menu__button--start > i.fa-pause {
  display: none;
}

button.menu__button--pause > i.fa-play {
  display: none;
}

div.menu__timer,
div.menu__counter {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

div.menu__timer {
  text-shadow: 1px 1px 12px rgba(50, 50, 50, 0.5);
}

div.menu__counter {
  width: 60px;
  height: 60px;
  background-color: #dd2323;
  margin: 0 auto;
  line-height: 60px;
  border-radius: 50%;
  padding: 4px 0 0 2px;
  box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.51);
  -webkit-box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.51);
  -moz-box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.51);
}

div.find-carrot {
  position: relative;
  flex: 1 1 auto;
  overflow: hidden;
}

div.find-carrot > img {
  position: absolute;
  transition: transform-scale 0.1s ease-in-out;
  cursor: pointer;
}

div.find-carrot > img:hover {
  transform: scale(1.1);
}

div.pop-up-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

div.pop-up {
  width: 400px;
  height: 200px;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 100px);
  background: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  display: none;
}

button.pop-up__close {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 20px;
  color: rgba(50, 50, 50, 0.9);
}

ul.pop-up__select-diff {
  margin-top: 60px;
  display: flex;
  flex: row nowrap;
  justify-content: space-evenly;
}

ul.pop-up__select-diff > li {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  text-align: center;
  line-height: 80px;
  font-weight: bold;
  cursor: pointer;
}

span.pop-up__title {
  display: block;
  margin: 40px 0 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

button.pop-up__restart {
  display: block;
  width: 80px;
  height: 80px;
  font-size: 40px;
  margin: 0 auto;
  border: 1px solid rgba(50, 50, 50, 0.9);
  border-radius: 50%;
  color: rgba(50, 50, 50, 0.9);
}

button.pop-up__restart:hover {
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
}

section.desc {
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
}

section.desc > strong {
  color: #ffcc00;
}
